name: Test the library

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Get latest CMake
        uses: lukka/get-cmake@latest

      - name: Cache installed
        uses: actions/cache@v4
        with:
          path: installed
          key: installed-${{ matrix.python-version }}

      - name: Set up igraph
        run: python3.10 -c "import setup; print(setup.build_igraph(None));"

      - name: Test with tox
        run: |
          export SCRANPY_INSTALLED=$(getwd)/installed
          pip install tox
          tox
